<div class="container">
  <div class="row">
    <div class="col-sm-3 scrolling">
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
              <li *ngFor="let n of notes" (click)="clicked(n)">
                <h4>{{n.title}}</h4>
                <div>{{n.description}}</div>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="col-sm-9 scrolling">
      <div>
        <button class="btn btn-success mr-1" *ngIf="!editing" (click)="toggleAdding()">Add</button>
        <button class="btn btn-success mr-1" *ngIf="!adding" (click)="toggleEditing()">Edit</button>
        
        <span *ngIf="searching">
          <input type="text" class="mr-1">
          <button class="btn btn-default mr-1" (click)="searching=false;">&times;</button>
        </span>
        <button class="btn btn-success" (click)="search()"><span class="glyphicon glyphicon-search"></span></button>
      </div>
      <div *ngIf="current">
        {{current.text}}
      </div>
    </div>
  </div>

  <div class="row" *ngIf="editing">
    <p>Title:</p>
    <textarea id="title"       class="editing-textarea"></textarea>
    <p>Description:</p>
    <textarea id="description" class="editing-textarea"></textarea>
    <p>Text:</p>
    <textarea id="text"        class="editing-textarea"></textarea>

    <button class="btn btn-warning mr-1" *ngIf="adding" (click)="addNote()">Add</button>
    <button class="btn btn-warning mr-1" *ngIf="editing && !adding" (click)="updateNote()">Update</button>
    <button class="btn btn-warning" (click)="cancelListModification()">Cancel</button>
  </div>
</div>

<router-outlet></router-outlet>
