/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .scrolling {
      overflow: auto;
      max-height: calc(100vh - 59px);
  }
  .editing-textarea {
      width: 100%;
  }
  .note {
    padding: 0 0 0 5px;
  }
  .edit-warning.updated {
    background-color:  #ffdab3;
  }
  .mt-1,
  .my-1 {
    margin-top: 0.25rem !important;
  }
  .mr-1,
  .mx-1 {
    margin-right: 0.25rem !important;
  }
  .mb-1,
  .my-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-1,
  .mx-1 {
    margin-left: 0.25rem !important;
  }
  .mt-2,
  .my-2 {
    margin-top: 0.5rem !important;
  }
  .mr-2,
  .mx-2 {
    margin-right: 0.5rem !important;
  }
  .mb-2,
  .my-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-2,
  .mx-2 {
    margin-left: 0.5rem !important;
  }
  .note-title {
    margin: 0;
  }
  .note-description {
    color: #aaa;
  }
  .list-item {
    border-bottom: 1px solid #ccc;
  }
  .wordwrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
  }
  .navbar-default .navbar-nav > .active > div,
  .navbar-default .navbar-nav > .active > div:hover,
  .navbar-default .navbar-nav > .active > div:focus {
    color: #555;
    background-color: #e7e7e7;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-default .navbar-nav > li > div,
  .navbar-default .navbar-nav > li > div:hover,
  .navbar-default .navbar-nav > li > div:focus {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .searchOption {
    margin-left: 5px;
    font-weight: normal;
  }

  /*https://codepen.io/brandonhimpfen/pen/BoExzV*/
  .btn-search {
    background: #424242;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #1c1c1c;
  }
  .btn-search:link, .btn-search:visited {
    color: #fff;
  }
  .btn-search:active, .btn-search:hover {
    background: #1c1c1c;
    color: #fff;
  }

  /*http://csharpindepth.com/CodeFormatterTool.aspx*/
  :host ::ng-deep table.code,
  :host ::ng-deep table.spec,
  :host ::ng-deep table.results,
  :host ::ng-deep table.compile,
  :host ::ng-deep table.summary {
    margin-left: 4em;
    border: 1px solid #000000;
    padding: 4px;
  }
  :host ::ng-deep table.code {
    background-color: #e5e5e5;
  }
  :host ::ng-deep table.spec {
    background-color: #aaddff;
  }
  :host ::ng-deep table.results {
    background-color: #aaeeaa;
  }
  :host ::ng-deep table.compile {
    background-color: #ffaaaa;
  }
  :host ::ng-deep table.summary {
    background-color: #ffffff;
  }
  :host ::ng-deep div.code,
  :host ::ng-deep div.output {
    border-right: white 2px ridge; 
    padding-right: 10px; 
    border-top: white 2px ridge; 
    padding-left: 10px; 
    font-size: 10pt; 
    padding-bottom: 10px; 
    line-height: 1.1em;
    border-left: white 2px ridge; 
    padding-top: 10px; 
    border-bottom: white 2px ridge; 
    font-family: courier new; 
    background-color: #e5e5e5;
    display: inline-block;
    min-width: 100%;
  }
  /* For code snippets */
  :host ::ng-deep span.Keyword,
  :host ::ng-deep span.Linq,
  :host ::ng-deep span.ReferenceType,
  :host ::ng-deep span.ValueType,
  :host ::ng-deep span.Modifier,
  :host ::ng-deep span.Statement,
  :host ::ng-deep span.MethodParameter,
  :host ::ng-deep span.Namespace,
  :host ::ng-deep span.DataType,
  :host ::ng-deep span.Function,
  :host ::ng-deep span.Method,
  :host ::ng-deep span.Object,
  :host ::ng-deep span.Operator,
  :host ::ng-deep span.Property,
  :host ::ng-deep span.SysTable,
  :host ::ng-deep span.SysSproc,
  :host ::ng-deep span.GlobalVariable,
  :host ::ng-deep span.ReservedKeyword,
  :host ::ng-deep span.SystemFunction,
  :host ::ng-deep span.Type,
  :host ::ng-deep span.PreProcessorDirective,
  :host ::ng-deep span.Element {
    color: #0000cc
  }
  :host ::ng-deep span.BlockComment,
  :host ::ng-deep span.XmlComment,
  :host ::ng-deep span.InlineComment,
  :host ::ng-deep span.JavaDoc {
    color: green
  }
  :host ::ng-deep span.String {
    color: black
  }
  :host ::ng-deep span.Attention {
    font-weight: bold;
    color: red
  }
  :host ::ng-deep span.Entity {
    color: red
  }
}