<div class="container my-2">
  <a href="https://github.com/Roman-Tarasiuk/Notes/wiki" style="float: right">Help</a>

  <!-- Main menu buttons. -->
  <div id="mainMenuRow" class="row edit-warning my-2" *ngIf="!settings && !editing && !adding" [class.updated]="updated">
    <div style="display: inline-block; float: left;">
      <button class="btn btn-danger mr-1" *ngIf="updated" (click)="saveChanges()">Save</button>
    </div>
    <div *ngIf="!editing && !adding" style="display: inline-block; float: left;">
      <button class="btn btn-success mr-1" (click)="toggleAdding()">New</button>
      <button class="btn btn-success mr-1"(click)="toggleEditing()">Edit</button>
    </div>
    <div style="display: inline-block;">
      <button class="btn btn-success mr-1" *ngIf="!searching" (click)="toggleSearching()"><span class="glyphicon glyphicon-search"></span></button>
      <button class="btn btn-success mr-1" (click)="toggleSettings()" [class.unsavedToStorage]="!saved"><span class="glyphicon glyphicon-cog"></span></button>
    </div>
  </div>

  <!-- Add / Edit. -->
  <div id="editingRow" class="row" *ngIf="editing || adding">
    <div class="my-2">
      <label>Title:</label>
      <textarea id="title"       class="form-control" rows="1" [(ngModel)]="current.title"></textarea>
      <label>Description:</label>
      <textarea id="description" class="form-control" rows="1" [(ngModel)]="current.description"></textarea>
      <label>Text:</label>
      <textarea id="text"        class="form-control" rows="5" [(ngModel)]="current.text"></textarea>
    </div>
    <button class="btn btn-warning mr-1" *ngIf="adding" (click)="addNote()">Add</button>
    <button class="btn btn-success mr-1" *ngIf="adding || editing" (click)="codeTemplate()">Code template</button>
    <button class="btn btn-success mr-1" *ngIf="adding || editing" (click)="beautify()">Beautify</button>
    <button class="btn btn-success mr-1" *ngIf="adding || editing" (click)="highlightCode()">Highlight</button>
    <button class="btn btn-warning mr-1" *ngIf="editing" (click)="updateNote()">Update</button>
    <button class="btn btn-warning mr-1" *ngIf="editing" (click)="deleteNote()">Delete</button>
    <button class="btn btn-info mr-1" (click)="cancelModification()">Close</button>
    <span *ngIf="editing && searching" class="alert alert-info al">Updates will be seen after closing search</span>
  </div>

  <!-- Searching. -->
  <!--https://codepen.io/brandonhimpfen/pen/BoExzV-->
  <div id="searchingRow" class="row" *ngIf="searching">
    <div class="input-group" style="width: 100%;">
      <input id="srchString"
              type="text"
              [(ngModel)]="searchText"
              class="form-control"
              placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" (click)="toggleSearching(); searchText=''">&times;</button>
      </span>
    </div>
    <div>
      Search in:
      <label class="searchOption"><input type="checkbox" checked [(ngModel)]="searchInTitle"> title</label>
      <label class="searchOption"><input type="checkbox" checked [(ngModel)]="searchInDescription"> description</label>
      <label class="searchOption"><input type="checkbox" checked [(ngModel)]="searchInText"> text</label>
    </div>
  </div>

  <!-- Settings. -->
  <div id="settingsRow" *ngIf="settings" class="row my-2">
    <button class="btn btn-warning mr-1" (click)="exportNotes()">Export to</button>
    <label class="btn btn-warning mr-1">
      Import from
      <input type="file"
          accept="text/plain"
          (change)="importNotes($event)"
          style="display: none">
    </label>
    <button class="btn btn-warning mr-1" (click)="newNotebook()">New notebook</button>
    <br>
    <label><input type="checkbox" [(ngModel)]="shrinkHeight" (click)="adjustInfoHeight()">Shrink height</label>
    <br>
    <button class="btn btn-info" (click)="toggleSettings()">Close</button>
  </div>

  <!-- Notes list and view. -->
  <!-- https://codepen.io/mikeair/pen/Kfyin -->
  <div id="infoRow" class="row mt-2">
    <div class="col-sm-3 scrolling" style="height: 100%">
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
              <li *ngFor="let n of notes | filter : searchText : { inTitle: searchInTitle, inDescription: searchInDescription, inText: searchInText}; let i = index"
                  (click)="clicked(n, i)"
                  [class.active]="isActive(n)"
                  class="list-item">
                <div class="note" (mousedown)="mousedown(i)" (mouseup)="mouseup()">
                  <h4 class="note-title"><span class="index-num">[{{i + 1}}]</span> {{n.title}}</h4>
                  <div class="note-description wordwrap">
                    {{n.description}}
                    <div style="float: right; margin-top: -3px;" *ngIf="isActive(n)">
                      <button class="btn btn-xs mr-1" (click)="moveUp(n)"><span class="glyphicon glyphicon-arrow-up"></span></button>
                      <button class="btn btn-xs mr-1" (click)="moveDown(n)"><span class="glyphicon glyphicon-arrow-down"></span></button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="col-sm-9 scrolling" style="height: 100%">
      <div *ngIf="current" [innerHTML]="formatOutput(current.text) | safeHtml">
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
